{% extends '/Master/Base_Master.html' %}
{% block title  %} {{ pageContent.title }} {% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top: 2%;">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1>Create Department</h1>
            <form action="/Master/Dashboard/Department/Create" method="post">
                <div class="form-group">
                    <label>Enter Title</label>
                    <input type="text" name="NewDepart" class="form-control">
                </div>
                <div class="form-group">
                    <input type="Submit" name="Submit" class="btn btn-success">
                </div>
            </form>
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
{% with errors = get_flashed_messages(category_filter=["success"]) %}
{% if errors %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <table class="table">
                <th>Title</th>
                <th>Employee Work</th>
                <tbody>
                    {% for Department in pageContent.Departments %}
                     <tr>
                        <td>{{ Department.title }}</td>
                        <td>
                           
                            {{ Department.Combinded | length }}
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}