<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static',filename='js/pdf.js') }}"></script>
    <script>
        function generatePDF() {
          // Choose the element that our invoice is rendered in.
          const element = document.getElementById("invoice");

          // Choose the element and save the PDF for our user.
          html2pdf()
            .from(element)
            .save();
        }
      </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body onload="generatePDF() ">
    
   <div class="container mt-5" id="invoice">
       <div class="row"  >
           <div class="col-md-6">
               <img src="{{ url_for('static', filename='images/main_logo.png') }}" width="250px" height="200px"/>
           </div>
           <div class="col-md-6 mt-3">
            <h1 style="font-size: 2.0rem; ">Employees Contact Report</h1>
            <h3>Year {{ pageContent.currentyear }}</h3>
            <h5>Address : Main Sultan Qaboos Street, Al Khuwair , Muscat – Oman</h5>
            <h5>Email : info@globalgatewayconsult.com</h5>
        </div>
        <div class="col-md-12">
            <h5>New Employees : 1</h5>
            <table class="table table-striped table-bordered mt-4" style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Cell</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Hamza Khan</td>
                        <td>System Architect</td>
                        <td>Male</td>
                        <td>Hamza923@live.com</td>
                        <td>03162400202</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                </tbody>
               
            </table>
            
        </div> 
        </div>
       </div>
   </div>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>