{% extends '/Master/Base_Master.html' %}
{% block title  %} {{ pageContent.title }} {% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top: 2%;">

 
        <div class="com-sm-12 col-md-12">
         <h1>{{ pageContent.Empl.Name }} ( {{ pageContent.DEP.title }} )<a href="/Master/Dashboard/Employee/Lead/Create/{{ pageContent.Empl._id }}/{{ pageContent.Empl.Name }}"><button class="btn btn-success">Create</button></a> </h1>

         <table class="table table-respons display" id="example">
             <thead class="thead-dark">
                 <th>ID CARD</th>
                 <th>Email</th>
                 <th>Cell</th>
                 <th>City</th>
             </thead>
             <tbody>
               <tr>
                   <td>{{ pageContent.Empl.Identity_number }}</td>
                   <td>{{ pageContent.Empl.Emp_email }}</td>
                   <td>{{ pageContent.Empl.Emp_cell }}</td>
                   <td>{{ pageContent.Empl.Emp_city }}</td>
               </tr>
             </tbody>
         </table>
         <div style="margin-top: 3%;margin-bottom:3%"></div>
        <table class="table table-respons">
          <thead class="thead-dark">
          <th>Profile</th>
          <th>Address</th>
          <th>Created BY</th>
          <th>Joining Date</th>
        </thead>
          <tr>
            <td><img src="{{ url_for('static',filename="upload/"+pageContent.Empl.Emp_profile)  }}"  width="150px" height="150px"/></td>
            <td>{{ pageContent.Empl.Emp_add }}</td>
            <td>{{ pageContent.Empl.Emp_Created_BY }}</td>
            <td>{{ pageContent.Empl.Emp_Created_ON }}</td>
          </tr>
        </table>
        
        <div style="margin-top: 3%;margin-bottom:3%"></div>
        <h2>Stats</h2>
        <div style="height:500px;max-height:800px;overflow: scroll;overflow-x: hidden;">
        <input type="text" class="form-control col-sm-12 col-md-3" onkeyup="myFunction()" id="myInput" placeholder="Enter Date 04-19-20">
        <div class="mt-2"></div>
        <input type="text" class="form-control col-sm-12 col-md-3" onkeyup="myMonth()" id="myInput2" placeholder="Enter Month">
        <div class="mt-2"></div>
        <table class="table" id="myTable">
          <thead class="thead-dark">
          <th>Date</th>
          <th>Shift Start</th>
          <th>Shift End</th>
          <th>Month</th>
          <th>Status</th>
        </thead>
          <tr>
            <td>04-05-2014</td>
            <td>7:45AM</td>
            <td>5:00PM</td>
            <td>August</td>
            <td>IN OFFICE</td>
          </tr>
        </table>
      </div>
        </div>

</div>
<script>

  
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }

    function myMonth() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput2");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

</script>

{% endblock %}