{% extends '/Master/Base_Master.html' %}
{% block title  %} {{ pageContent.title }} {% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top: 2%;" >
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <ul>
        {%- for msg in errors %}
        <li>{{ msg }}</li>
        {% endfor -%}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% with errors = get_flashed_messages(category_filter=["success"]) %}
    {% if errors %}
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <ul>
        {%- for msg in errors %}
        <li>{{ msg }}</li>
        {% endfor -%}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
        <div class="com-sm-12 col-md-12">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h1>Set Attendance</h1>
                </div>
                <div class="col-sm-12 col-md-6">
                    <script>
                        function startTime() {
                          var today = new Date();
                          var h = today.getHours();
                          var m = today.getMinutes();
                          var s = today.getSeconds();
                          m = checkTime(m);
                          s = checkTime(s);
                          document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
                          var t = setTimeout(startTime, 500);
                        }
                        function checkTime(i) {
                          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                          return i;
                        }
                        </script>

                   <h1>Time:<span id="txt"></span></h1>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <form class="form" action="/Master/Dashboard/Employee/Attendence/Create" method="POST">
            
                <div class="form-group">
                    <label>Select Employees</label>
                    <select class="form-control col-sm-12 col-md-4" name="sel_emp">
                        {% for emp in pageContent.employess %}
                         <option value="{{ emp._id }}">{{ emp.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Attend // Leave</label>
                    <select class="form-control col-sm-12 col-md-4" name="sel_opt" onchange="leave(this.value)">
                      <option value="Leave">Leave</option>
                      <option value="Attend">Attend</option>
                    </select>
                </div>
                <div id="leave">
                <div class="form-group" >
                    <label >Leave Start Date</label>
                    <input i class="form-control" type="date" id="st" name="start_date">
                </div>
                <div class="form-group" >
                    <label >Leave End Date</label>
                    <input class="form-control" type="date" id="en" name="end_date" >
                   
                </div>
                <div class="form-group" >
                    <label >Reason</label>
                    <input class="form-control" type="text" name="reason">
                </div>
                </div>
                <div class="form-group" >
                   
                    <input class="btn btn-danger" type="submit" value="SET">
                </div>
                <script>
                    function leave(value){
                        if(value == "Leave"){
                            $("#leave").show();
                        }
                        else{
                            $("#leave").hide();
                        }
                    }

                    
                </script>
            </form>
        </div>
        <div class="col-sm-12 col-md-12">
            <div style="margin-top:3%;margin-bottom:3%"></div>
            <table class="table">
                <thead>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Status</th>
                </thead>
                <tbody>
                   {% for x in pageContent.Attend %}
                        <tr>
                            <td>{{ x.Created_Date }}</td>
                            <td>
                                {% for y in x.Commbinded %}
                                    {{ y.Name }}
                                {% endfor %}
                            </td>
                            <td>{{ x.Created_time }}</td>
                            <td>{{ x.Status }}</td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>

</div>


{% endblock %}