{% extends '/Master/Base_Master.html' %}
{% block title  %} {{ pageContent.title }} {% endblock %}
{% block content %}

<div class="container-fluid">

  <div class="main mt-5">
    <h1 style="margin:3% 0% 2% 0%">Leads List</h1>
    <button style="margin:0% 0% 1% 0%" class="btn btn-primary">Search Lead</button>
    <table id="example" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cell</th>
                <th>Email</th>
                <th>Type</th>
                <th>Action</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for X in pageContent.Lists %}
            

            <tr>
                <td>{{ X.GNAME }}</td>
                <td>{{ X.GCELL }}</td>
                <td>{{ X.GEMAIL }}</td>
                <td>{{ X.TYPE }}</td>
                <td>
                    <a href="" class="btn btn-primary">Selected To Applicants</a>
                    <a href="" class="btn btn-primary">Other</a>
                    <a href="" class="btn btn-primary">Cancel</a>
                </td>
                <td>{{ X.Created }}</td>
                <td>{{ X.STATUS }}</td>
            </tr>


            {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Cell</th>
                <th>Email</th>
                <th>Type</th>
                <th>Action</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </tfoot>
    </table>
</div> 


</div> 
<script>
    function startTime(){
        jQuery('#example').DataTable({
            
        });
        $('#min').keyup( function() { table.draw(); } );
        $('#max').keyup( function() { table.draw(); } );
    } ;
</script>

  </div>
</div>
{% endblock %}